*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border-radius: 18px;
}
.box{
    width: 50vw;
    border-radius: 10px;
    display: flex;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow:  35px 35px 70px #bababa,
             -35px -35px 70px #ffffff;
}
.ch-1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ch-2{
    width: 60%;
    padding: 40px;
}
h3{
    color: #696e7d;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.text-1{
    font-size: 13px;
    margin-top: 20px;
    color: #b0b6bf;
    font-weight: bold;
    width: 100%;
}
.about{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
.name{
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}
.about-ch-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color:#b0b6bf;
    font-size: 12px;
}
.text-2{
    font-size: 13px;
    font-weight: 700;
    color: #696e7d;
}

@media screen and (max-width:998px){
    .box{
        width: 50vw;
        flex-direction: column;
    }
    .ch-1{
        width: 100%;
        height: 60%;
    }
    .img-1{
        width: 60%;
    }
    .text-1{
        display: block;
    }
    .ch-2{
        width: 100%;
        padding: 40px;
    }
}

@media screen and (max-width:768px){
    .box{
        width: 80vw;
        flex-direction: column;
    }
    .ch-1{
        width: 100%;
        height: 60%;
    }
    .img-1{
        width: 60%;
    }
    .text-1{
        display: block;
    }
    .ch-2{
        width: 100%;
        padding: 40px;
    }
}